#body1{
    background-color: rgba(9, 113, 250, 0.025); 

}

#kop1{
  color: rgb(9, 113, 250, 0.025);
}

#body2{
  background-color: rgba(0, 0, 255, 0.11);
}

#kop2{
  color: rgb(0, 0, 255, 0.11);
}

#body3{
  background-color: rgba(0, 0, 255, 0.26);
}

#kop3{
  color: rgb(0, 0, 255, 0.26);
}

#body4{
  background-color: rgba(0, 0, 255, 0.4);
}

#kop4{
  color: rgb(0, 0, 255, 0.4);
}

#body5{
  background-color: rgba(0, 0, 255, 0.468);
}

#kop5{
  color: rgb(0, 0, 250, 0.468);
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #333; 
}

li {
  float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* unvisited link */
a:link{
  color: rgba(236, 1, 248, 0.438); /* kleur van de link*/
}

img{
  float:left;
  object-fit:cover;
  border-color: blue;
  border-style: solid; 
  border-width: 5px;
}

footer{
  text-align: center; 
  padding: 3px;
  background-color: blue;
  color: white;
}

h3{
  text-shadow: 1px 0px blue; /*de eerste px gaat over hoever de schaduw naar links gaat en de tweede px gaat over hoe ver de schaduw naar beneden gaat*/
}